body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.answer-choices-row {
    display: flex;
    flex-direction: row;
  }
  
  .answer-choice {
    margin-right: 10px;
  }
  
.intro-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -1.5rem;
}

.intro-header{
    color: #293264;
    text-align: center;
    font-size: 1.95313rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 1rem;
}

.intro-button, .submit-button {
    border-radius: 0.9375rem;
    background: #4D5B9E;
    color: #F5F7FB;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 5rem;
    margin: 0 auto;
    padding: 0.5rem;
}

.submit-button {
    color: #F5F7FB;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 12rem;
    height: 3rem;
    display: block;
    margin: auto;
}

.intro-svg-top {
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.intro-svg-bottom {
    margin-right: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    /* transform: translate(0%, 0%); */
}

.question-paragraph {
    color: #293264;
    font-family: Karla;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1rem;
}

.question-div {
    width: 50%;
    margin: auto;
    position: relative;
}

.answer-choice-div {
    display: flex;
    justify-content: center;
    width: 16rem;
    height: 3rem;
    /* flex-shrink: 0; */
    color: #293264;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 0.49638rem;
    /* background: #D6DBF5; */
    align-content: center;
    text-align: center;
    border: 2px solid #293264;
    margin: 1rem 0.5rem;
}

.answer-choice-div.selected {
    background-color: #D6DBF5;
}

.answer-choices-div.selected {
    background-color: #D6DBF5;
}

.answer-choice-div.correct {
    background-color: #8ACB88;
}

.answer-choice-div.incorrect {
    background-color: #FF6F61;
}

hr {
    border: 1px solid #DBDEF0;
    width: 70%;
    margin: 1rem 5.25rem;
}

.user-score {
    color: #293264;
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    display: block;
    margin: 1rem auto;
}